# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.jfm
*.pfx
*.publishsettings

# React
node_modules/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
.docker/

# Temporary files
*.tmp
*.bak
*.swp